@model PartyInvites.Models.GuestResponse

/*
    View components
    http://www.asp.net/vnext/overview/aspnet-vnext/vc#intro
*/

@{ ViewBag.Title = "Thanks";}
<h1>Thank you, @Model.Name!</h1>
<div class="lead">
    @if (Model.WillAttend == true)
    {
        @:It's great that you're coming. The drinks are already in the fridge!
        <div class="col-md-4">
            @Component.Invoke("Attendees")
        </div>
    }
    else
    {
        @:Sorry to hear that you can't make it, but thanks for letting us know.
    }
</div>